/.metadata/

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse/IntelliJ project files
*.iml
.idea/
.project
.classpath
.settings/

# Maven target folder
target/